<section id="home" class="hero">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600;700&display=swap" rel="stylesheet">


  <div class="hero-left reveal" appReveal>
    <span class="badge">✨ Full Stack Developer</span>

    <h1>
      Hi, I'm
      <span class="gradient-2">Shaik </span>
      <br>
      <span class="gradient">Mehathaj</span>
    </h1>

    <p>
      I build clean, interactive, user-focused web experiences
      that bring ideas to life with modern technologies.
    </p>
    <!-- BUTTONS -->
    <div class="buttons">
      <a class="btn primary-btn" href="Shaik-Mehathaj-Resume.pdf" download>
        Download CV
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor">
          <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/>
          <path d="M7 10l5 5 5-5"/>
          <path d="M12 15V3"/>
        </svg>
      </a>

      <button class="btn outline-btn" (click)="scrollToContact()">
        <span>Contact Me</span>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor">
          <rect x="2" y="4" width="20" height="16" rx="2"/>
          <path d="M22 6l-10 7L2 6"/>
        </svg>
      </button>

    </div>

  </div>

  <div class="hero-right reveal reveal-delay-2" appReveal>

  <div class="profile-wrapper">
    <div class="profile-glow"></div>

    <img
      src="profile.jpeg"
      alt="Shaik Mehathaj"
      class="profile-img"
    />
  </div>

  <!-- SCROLL DOWN ARROW -->
  <div class="scroll-down">
    <a href="#about" aria-label="Scroll Down">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M12 5v14" />
        <path d="M19 12l-7 7-7-7" />
      </svg>
    </a>
  </div>



</div>


</section>
