<section class="skills-section" id="skills" appReveal [revealDelay]="100">

  <h2 class="skills-title">Skills</h2>

  <!-- ================= 4 STATIC CARDS ================= -->
  <div class="skills-cards">

    <div class="skill-card" appReveal [revealDelay]="0">
      <h3>Frontend</h3>
      <div class="card-skills">
        <span>HTML5</span>
        <span>CSS3</span>
        <span>JavaScript</span>
        <span>TypeScript</span>
        <span>Angular</span>
        <span>React</span>
      </div>
    </div>

    <div class="skill-card" appReveal [revealDelay]="120">
      <h3>Backend</h3>
      <div class="card-skills">
        <span>Node.js</span>
        <span>Python</span>
      </div>
    </div>

    <div class="skill-card" appReveal [revealDelay]="240">
      <h3>Database</h3>
      <div class="card-skills">
        <span>MySQL</span>
      </div>
    </div>

    <div class="skill-card">
      <h3>Tools & Technologies</h3>
      <div class="card-skills">
        <span>Git</span>
        <span>GitHub</span>
        <span>VS Code</span>
        <span>Figma</span>
        <span>Canva</span>
      </div>
    </div>

  </div>

  <!-- ================= MOVING SKILLS STRIP ================= -->
  <div class="skill-strip">

    <div class="track">
  <span>HTML5</span>
  <span>Python</span>
  <span>MySQL</span>
  <span>Node.js</span>
  <span>JavaScript</span>
  <span>GitHub</span>

  <!-- duplicate -->
  <span>HTML5</span>
  <span>Python</span>
  <span>MySQL</span>
  <span>Node.js</span>
  <span>JavaScript</span>
  <span>GitHub</span>

  <span>HTML5</span>
  <span>Python</span>
  <span>MySQL</span>
  <span>Node.js</span>
  <span>JavaScript</span>
  <span>GitHub</span>
</div>



  </div>

</section>
